:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.5em;
  font-weight: bold;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 60px;
  width: 60px;
  line-height: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.move-button{
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 300px;
  height: auto;
  margin-bottom: 5px;
  padding: 5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}
.board-row{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.x{
  color:rgb(109, 109, 245);
  font-weight: bold;
}
.o{
  color: rgb(240, 96, 96);
  font-weight: bold;
}
.game{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.game-board{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.game-info{
  display: flex;
 
  flex-direction: column;
  justify-content: center;
}
.game-info ul{
  list-style-type: none;
}
.board-grid{
  margin-top: 10px;
}
.title{
  font-size: 3em;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 10px;
  text-decoration: underline;
  position: absolute;
  top: 10px;
  left:50%;
  transform: translateX(-50%);
}