/* Defaults */

:root {
  /* ## COLORS */
  --darkNavy: #1A2A33;
  --lightBlue: #31C3BD;
  --lightBlueHover: #65E9E4;
  --LightYellow: #F2B137;
  --lightYellowHover: #FFC860;
  --semiDarkNavy: #1F3641;
  --silver: #A8BFC9;
  --silverHover: #DBE8ED;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1, 
h2, 
h3, 
h4, 
button {
  color: var(--darkNavy);
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  letter-spacing: 2.5px;
}

h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
}

h3,
.primary-button {
  font-size: 20px;
  letter-spacing: 1.25px;
}

h4,
.secondary-button {
  font-size: 16px;
  letter-spacing: 1px;
}

body {
  background-color: var(--darkNavy);
  position: relative;
}

/* Main Menu */

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.pick-mark {
  align-items: center;
  background-color: var(--semiDarkNavy);
  border-radius: 15px;
  box-shadow: 0px 8px 0px #10212A;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 24px;
  width: 460px;
}

.pick-mark > h4 {
  color: var(--silver);
}

.mark-picker {
  background-color: var(--darkNavy);
  border-radius: 10px;
  display: flex;
  padding: 9px 8px;
  width: 100%;
}

.pick--x,
.pick--o {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 66px;
  width: 50%;
}

.not-picked:hover {
  background-color: #A8BFC90D;
}

.pick--x > img,
.pick--o > img {
  height: 32px;
}

.picked {
  background-color: var(--silver);
}

.picked > img {
  filter: invert(1) sepia(1) brightness(0.5) hue-rotate(180deg);
}

.pick-mark > p {
  color: var(--silver);
  opacity: 0.5;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-game--button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 61px;
  width: 460px;
}

.cpu {
  background-color: var(--LightYellow);
  box-shadow: 0px 8px 0px #CC8B13;
}

.cpu:hover {
  background-color: var(--lightYellowHover);
}

.player {
  background-color: var(--lightBlue);
  box-shadow: 0px 8px 0px #118C87;
}

.player:hover {
  background-color: var(--lightBlueHover);
}

.cpu:active,
.player:active {
  box-shadow: none;
  transform: translateY(8px);
}

/* Board */

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-height: 100vh;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.current-turn {
  align-items: center;
  background-color: var(--semiDarkNavy);
  border-radius: 10px;
  box-shadow: 0px 4px 0px #10212A;
  color: var(--silver);
  display: flex;
  gap: 13px;
  padding: 13px 30px;
}

.current-player--img {
  height: 20px;
  width: 20px;
}

.current-turn > h4 {
  color: var(--silver);
}

.restart-game--button {
  background: url(./images/icon-restart.svg) center no-repeat;
  background-color: var(--silver);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #7a8d96;
  cursor: pointer;
  padding: 24px 26px;
}

.restart-game--button:hover {
  background-color: var(--silverHover);
}

.restart-game--button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.board--grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
}

.board--field {
  background-color: var(--semiDarkNavy);
  border-radius: 15px;
  box-shadow: 0px -8px 0px #10212A inset;
  cursor: pointer;
  height: 140px;
  width: 140px;
}

.field--x {
  background-image: url(./images/icon-x.svg);
  cursor: default;
}

.field--o {
  background-image: url(./images/icon-o.svg);
  cursor: default;
}

.field--x,
.field--o {
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

.cell-hover-x {
  background-image: url(./images/icon-x-outline.svg);
}

.cell-hover-o {
  background-image: url(./images/icon-o-outline.svg);
}

.cell-hover-x,
.cell-hover-o {
  background-position: center;
  background-repeat: no-repeat;
}

.winner-cell--x {
  background-color: var(--lightBlue);
  box-shadow: 0px -8px 0px #118C87 inset;
  background-image: url(./images/picked-x.svg);
}

.winner-cell--o {
  background-color: var(--LightYellow);
  box-shadow: 0px -8px 0px #CC8B13 inset;
  background-image: url(./images/picked-o.svg);
}

.scores {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.score {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
  width: 140px;
}

.score--x {
  background-color: var(--lightBlue);
}

.score-ties {
  background-color: var(--silver);
}

.score--o {
  background-color: var(--LightYellow);
}

/* Overlays */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(0.5);
}

.result-popup,
.restart-popup {
  align-items: center;
  background-color: var(--semiDarkNavy);
  display: flex;
  flex-direction: column;
  height: 266px;
  left: 0;
  padding: 40px 0;
  position: absolute;
  right: 0;
  top: 37%;
}

.result-popup {
  justify-content: space-between;
}

.restart-popup {
  gap: 31px;
  justify-content: center;
}

.result-popup > h4 {
  color: var(--silver);
}

.winner {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center
}

.x-won {
  color: var(--lightBlue);
}

.o-won {
  color: var(--LightYellow);
}

.no-won {
  color: var(--silver);
}

.result-buttons {
  align-items: center;
  display: flex;
  gap: 16px;
}

.result-buttons > button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 16px;
}

.quit--button {
  background-color: var(--silver);
  box-shadow: 0px 4px 0px #7a8d96;
}

.next-round--button {
  background-color: var(--LightYellow);
  box-shadow: 0px 4px 0px #CC8B13;
}

.quit--button:hover {
  background-color: var(--silverHover);
}

.next-round--button:hover {
  background-color: var(--lightYellowHover);
}

.result-buttons > button:active {
  box-shadow: none;
  transform: translateY(4px);
}

@media (max-width: 499px) {

  .pick-mark {
    align-items: center;
    background-color: var(--semiDarkNavy);
    border-radius: 15px;
    box-shadow: 0px 8px 0px #10212A;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 24px;
    width: 327px;
  }

  .pick--x,
  .pick--o {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 56px;
    width: 50%;
  }

  .new-game--button {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 56px;
    width: 327px;
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 327px;
  }

  .current-turn {
    align-items: center;
    background-color: var(--semiDarkNavy);
    border-radius: 10px;
    box-shadow: 0px 4px 0px #10212A;
    color: var(--silver);
    display: flex;
    gap: 9px;
    padding: 13px 13px;
  }

  .restart-game--button {
    background: url(./images/icon-restart.svg) center no-repeat;
    background-color: var(--silver);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #7a8d96;
    cursor: pointer;
    padding: 21px 23px;
  }

  .board--field {
    background-color: var(--semiDarkNavy);
    border-radius: 15px;
    box-shadow: 0px -8px 0px #10212A inset;
    cursor: pointer;
    height: 96px;
    width: 96px;
  }

  .field--x {
    background-image: url(./images/icon-x.svg);
    cursor: default;
  }
  
  .field--o {
    background-image: url(./images/icon-o.svg);
    cursor: default;
  }
  
  .field--x,
  .field--o {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 44%;
    color: transparent;
  }
  
  .cell-hover-x {
    background-image: url(./images/icon-x-outline.svg);
  }
  
  .cell-hover-o {
    background-image: url(./images/icon-o-outline.svg);
  }
  
  .cell-hover-x,
  .cell-hover-o {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 44%;
  }
  
  .winner-cell--x {
    background-color: var(--lightBlue);
    box-shadow: 0px -8px 0px #118C87 inset;
    background-image: url(./images/picked-x.svg);
  }
  
  .winner-cell--o {
    background-color: var(--LightYellow);
    box-shadow: 0px -8px 0px #CC8B13 inset;
    background-image: url(./images/picked-o.svg);
  }

  .scores {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 327px;
  }

  .score {
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    width: 96px;
  }

  .result-popup,
  .restart-popup {
    align-items: center;
    background-color: var(--semiDarkNavy);
    display: flex;
    flex-direction: column;
    height: 228px;
    left: 0;
    padding: 40px 0;
    position: absolute;
    right: 0;
    top: 37%;
  }

  .restart-popup {
    gap: 31px;
    justify-content: center;
  }
  
  .result-popup > h4 {
    color: var(--silver);
    font-size: 14px;
    letter-spacing: 0.875px;
  }
  
  .winner {
    align-items: center;
    display: flex;
    gap: 9px;
    justify-content: center
  }

  .winner > img {
    height: 28px;
    width: 28px;
  }
  
  .x-won {
    color: var(--lightBlue);
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
  .o-won {
    color: var(--LightYellow);
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
  .no-won {
    color: var(--silver);
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
  .result-buttons {
    align-items: center;
    display: flex;
    gap: 16px;
  }
  
  .result-buttons > button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px;
  }
  
  .quit--button {
    background-color: var(--silver);
    box-shadow: 0px 4px 0px #7a8d96;
  }
  
  .next-round--button {
    background-color: var(--LightYellow);
    box-shadow: 0px 4px 0px #CC8B13;
  }
  
  .quit--button:hover {
    background-color: var(--silverHover);
  }
  
  .next-round--button:hover {
    background-color: var(--lightYellowHover);
  }
  
  .result-buttons > button:active {
    box-shadow: none;
    transform: translateY(4px);
  }
}